.selected {
    background-color: #CFD8DC !important;
    color: white;
  }

.heroes {
    width: 50%;
    align-items: center;
 
}

.hero-headers{
    width: 50%;
    text-align: center;
}




ul {
    list-style-type: none;
    border-radius: 50px 10px 70px 5px;
    background: #f1f8e9 ;
    padding:40px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
ul li{
    border-radius: 7px;
    margin-bottom: 7px;  
    background: #dcedc8; 
    padding-top: 10px;
    padding-bottom: 10px;  
}
ul li .badge{
    border-radius: 7px 0px 7px 0px;
    background: #009688;
    color: #f1f8e9;
    margin-right: 20px;
    padding: 10px;

}

